body{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.dropdown-menu {
	width: 400%;
	margin-left: -100%;
	
}
.dropdown-item:hover{
	background-color:#fff;
}
.list-group-item {
	border: none;
	padding: 0.25rem 0.2rem;
	background-color: none;
}
.banner{
	background-image: url(images/banner.jpg);
	background-repeat: no-repeat;
	height:400px;
	background-position: right top;
	
}
#changeText{
	width: 400px;
	padding:5% 1%;
	font-weight: bold;
	font-size:1.8em;
color:  #f79100;
	text-transform:uppercase;
	text-align: center;

	}
.headings{
	font-size: 1.6em;
	color: #999999;
	text-align: center;
	margin: 10px;
}
.services{
	margin-bottom: 30px;
   /* min-height: 320px;*/
    padding: 30px 30px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 6%);
    position: relative;
}
.title{
	color:#f79101;
	font-size: 1.2em;
	font-weight: bold;
}
.services p{
	font-size:1em;
	color: #999999;
}
.service_img{
	border: 2px dotted #fdd947;
	padding: 10px;
}
.service_imgDiv{
	text-align: center;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 20px 80px;
  text-align: center;
}


/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding:0px 20px;
    background: #f79101;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.image img{
width:100px;
height:100px;
border-radius:100%;
border:2px solid #BCBCBC;
box-shadow:5px 5px 5px #BCBCBC;
}

/* Add a background color to the active dot/circle */
.dactive, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}


.footer_bg{
	background-color: #e5e5e5;
	margin-top:5%;
}
.footer_bg1{
	background-color: #e5e5e5;
	
}
.footer_link{
	color: #646464;
}
.footer-copyright{
	background-color: #646464;
	color: #fff;
}
.footer-copyright a{
	color: white;
}
.fa {
  padding: 5px;
  font-size: 10px;
  width: 30px;
  height:30px;
  border-radius:50%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
/*contact us page stylesheet*/
.contactBanner{
	background-image: url(images/contactus-banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}
.formBanner{
	background-image: url(images/form-banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}
.contactBannerBg{
	padding-top:20%;
}
.contactHeading{
	text-transform: uppercase;
	font-weight: 500;
    padding:10px 20px;
	color: #000;
	width: max-content;
	background-color: #fdd947;
	
}
.cont_add ul li {
    list-style: none;
    padding: 5px 0px;
}
.cont_add{
	margin-top:20px;
	line-height:1.6em;
}
.cont_add ul li span, .info-box .icon {
    background: #fdda4b;
    padding: 2px;
    text-align: center;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 100px;
    line-height: 28px;
    font-size: 20px;
    color: #000;
    margin-right: 7px;
    position: relative;
    top: 3px;
}

p.add1 {
    display: inline-flex;
    margin: 0px;
    
    font-weight: 400;
}

/* application form page*/

.boxCardDownloadApp{
	
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 6%);
    padding: 10px 25px 10px 25px;
    margin-bottom: 20px;
}
.row_border{
	border-bottom: solid 1px #DDD;
}
.blockTabPDFApp{
	position: relative;
    text-align: left;
    border-bottom: solid 1px #DDD;
}
.blockTabPDFApp a {
    width: max-content;
    margin: 0 auto;
    /* border-top-left-radius: 4px; */
    /* border-top-right-radius: 4px; */
    color: #333;
    font-weight: 500;
    position: relative;
}
.blockTabPDFApp h6{
	margin-top:10px;
	margin-bottom: 10px;
}
.boxcam .col-xl-12:last-child .blockTabPDFApp {
    border: none;
}
.panel .col-xl-12:last-child .blockTabPDFApp {
    border: none;
}

.form_heading{
	margin:20px 0px;
}
/*Accordian*/
.accordion {
  background-color: transparent;
  color: #333;
  font-weight: 500;
  cursor: pointer;
  /*padding: 18px;*/
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  margin-left:-5px;
  transition: 0.4s;
  border-bottom: 3px solid #909090;
	padding-bottom: 10px;
}



.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  
}

.accordion.active:after {
  content: "\2212";
}

.panel {
  padding: 10 6px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/*services offerings*/
.serviceBanner{
	background-image: url(images/services-banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}
.section_grey{
	background-color: #f5f4f2;
}
.service_heading{
	 font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
	text-transform: uppercase;
}
.service_content{
	
    color: #666;
    line-height: 30px;
}
@media (min-width: 700px){
.boxMgmt {
    text-align: center;
    padding: 0px 25px;
}
}
/*About us*/
.aboutus_text{
	
	color: #333;
	width: 80%;
	margin: 20px auto;
}
h4.titleNewAl {
    text-align: center;
    font-size: 23px;
    margin: 0px;
    
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    /*border-bottom: 4px solid #fdd947;*/
}
   h4.titleNewAl::after {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: #fdd947;
        height: 4px;
        content: "";
        width: 150px;
        border-radius: 0;
        bottom: -15px;
        z-index: 9;
    }
.aboutBanner{
	background-image: url(images/aboutus_banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}
.loginBanner{
	background-image: url(images/login-banner.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	padding-bottom: 6%;
}
.loginBox{
	
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 6%);
    margin: 5% auto 0% auto;
	width: 80%;
	height: 400px;
	background-color: white;
	border-radius: 20px;
	/*opacity: .5;*/
	
	
}
h4.headingSignup {
    
    font-weight: 700;
    font-size: 25px;
    position: relative;
}

    h4.headingSignup::after {
        content: "";
        background: #fdd947;
        height: 3px;
        width: 50px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -12px;
    }
.loginButton{
	margin:auto;
	padding-top: 15%;
}

.loginul{
	margin-top:15%;
}

.loginul li{
	list-style-type: none;
	margin-top: 10%;
}
.loginul li a{
	text-decoration: none;
	
}
.loginul li a:hover{
	font-weight: bold;
	color:#333;
}
.solidBGorange {
    background: #fdd947;
    min-height: 30px;
    
    text-align: center;
    line-height: 30px;
    color: #333;
    border-radius: 100px;
    
    cursor: pointer;
    
    font-weight: 400;
    font-size: 16px;
    
    border: 2px solid #fdd947;
    padding: 10px 20px;
}
.solidBGorange1 {
    
    min-height: 30px;
    
    text-align: center;
    line-height: 30px;
    color: #333;
    border-radius: 100px;
    cursor: pointer;
    margin-top: 5%;
    font-weight: 400;
    font-size: 16px;
    
    border: 2px solid #fdd947;
    padding: 10px 20px;
}
@media only screen and (max-width: 600px) {
  .loginImg {
    display: none;
  }
	.loginButton{
	margin:auto;
	padding-top: 5%;
}
}
